body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    font-family: "Roboto";
    overflow-y: scroll;
    position: relative;
}

html {
    min-height: 100vh;
    width: 100%;
}

#root {
    width: 100%;
    min-height: 100%;
}

:root {
    --insta-gray: #fafafa;
    --insta-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

#homePage {
    min-height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
}

.suggestedProfilePic {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 900rem;
}

.suggestedProfilePic.noPic {
    height: 3.1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.6rem;
    margin-left: -.6rem;
    padding-bottom: 0;

}

.suggestedUserInfo {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    height: 3rem;
    justify-content: center;
}

.menuBar {
    width: 17.65%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--insta-white);
    border-right: .1px solid rgb(224, 224, 224);
    position: fixed;
    /* position: relative; */
}

.suggestedUser {
    display: flex;
    align-items: center;
    gap: .6rem;
    position: relative;
}

.followSuggestedButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    font-weight: 600;
    color: #0095f2;
    font-size: 13px;
}

.mainContent {
    box-sizing: border-box;
    width: 82.35%;
    min-height: 100vh;
    background-color: var(--insta-gray);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    position: absolute;
    right: 0;
    z-index: -1;
    gap: 2rem;
}

.mainContent.inProfile {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.4rem;
    z-index: -1;
}

.mainContent.inEditProfile {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.4rem;
    padding-bottom: 0;

}

.editProfile {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--insta-gray);
}

.editCategories {
    border-right: .1px solid rgb(218, 218, 218);
    box-sizing: border-box;
}

.editCategory.selectedCategory {
    border-left: 1.9px solid black;
}

.editCategory.selectedCategory:hover {
    border-left: 1.9px solid black;
}

.editCategory {
    padding: 1rem;
    padding-left: 1.5rem;
    /* border-left:2px solid black; */
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-left: 2px solid transparent;

}

.editCategory:hover {
    border-left: 2px solid rgb(211, 211, 211);
    box-sizing: border-box;
}

.editContainer {
    width: 59%;
    min-height: 90vh;
    border: 1px solid rgb(218, 218, 218);
    display: grid;
    grid-template-columns: repeat(2, 25% 75%);
    background-color: white;
    margin-bottom: 2rem;
}

.editProfilePic,
.editInputDiv,
.tipDiv {
    width: 100%;
    box-sizing: border-box;
}

.tipDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: .5rem;

}

.editPersonalInfoDiv {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    padding-left: 9rem;
}

.editProfileActions {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    padding-bottom: 2rem;
}

.editProfileActions.password {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    align-items: flex-start;
    padding-right: 12rem;
}



.submitEditsButton {
    background-color: #0095f2;
    color: white;
    font-weight: 600;
    padding: .5rem;
    border: none;
    border-radius: 4px;
}

.submitEditsButton:disabled {
    background-color: rgba(0, 149, 246, .5);
}

#deleteProfileButton {
    background-color: transparent;
    color: #0095f2;
    font-weight: 600;
    padding: .5rem;
    border: none;
}

.forgotPassword.inEdit {
    background-color: transparent;
    color: #0095f2;
    font-weight: 600;
    padding: .5rem;
    border: none;
}

.personalInfoHeader {
    margin-bottom: -.8rem;
    color: rgb(145, 145, 145);
    font-size: 15px;
}

.editProfileOptions {
    width: auto;
    padding: 2.5rem;
    padding-bottom: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 20%; */
}

.editTip {
    width: 61%;
    font-size: 13px;
    padding-top: 1rem;
    color: rgb(160, 160, 160);
    /* text-align: center; */
}

.editUsernameTip::after {
    content: " Learn more";
    color: #0095f2;
}

.editInputDiv {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 2.1rem; */
    font-size: 1.1rem;
    font-weight: 500;
    /* justify-content: center; */
    /* padding-right: 23%; */
}

.editWebsiteDiv {
    margin-bottom: -.5rem;
}

.editInput {
    width: 55%;
    padding: .3rem;
}

input:focus-within {
    outline: none;
}

#oldPassword,
#newPassword,
#newPasswordConfirmation {
    width: 70%;
    border-radius: 4px;
    background-color: #fafafa;
    border: 1px solid rgb(217, 217, 217);
    padding: .8rem;
}

.labelInEdit {
    text-align: right;
    display: inline-block;
    width: 15ch;
    margin-left: -2rem;
    padding-right: 1.6rem;
}

#bio {
    width: 55%;
    height: 3rem;
    resize: vertical;
    padding: .3rem;
}

.editProfilePic {
    display: flex;
    gap: 1.5rem;
    padding-left: 4.5rem;
}

.nameAndChangePic {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.usernameInEdit {
    font-size: 1.3rem;
    font-weight: 400;
}

.changePic {
    font-size: 15px;
    font-weight: 500;
    color: #0095f2;
}

.profilePicInEdit {
    width: 2.4rem;
    height: 2.4rem;
    background-size: cover;
    border-radius: 900rem;
}

.noPostsMessage{
    position: absolute;
    top: 40%;
    color: rgb(183, 183, 183);
}

.profilePicInEdit.noPic {
    width: 3.4rem;
    height: 3.4rem;
    background-size: cover;
    border-radius: 900rem;
    margin-left: -.3rem;
    margin-top: -.4rem;
}

.editProfilePic.passwordChange {
    display: flex;
    align-items: center;
}


.suggestedUsername {
    font-size: 14px;
    font-weight: 500;
}

.suggestedFollowedBy {
    font-size: 13px;
    font-weight: 300;
    color: gray;

}

.mainContent {
    box-sizing: border-box;
    width: 82.35%;
    min-height: 100vh;
    background-color: var(--insta-gray);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding-top: 2.5rem;
    min-height: 100vh;
    padding-bottom: 5rem;
    position: absolute;
    right: 0;
    z-index: -1;
    gap: 2rem;
}

.options {
    height: 1rem;
    position: absolute;
    bottom: 3rem;
    width: 71%;
    height: max-content;
    left: .7rem;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgb(225, 225, 225);
}

.settingsOptionDiv {}

.optionDiv {
    padding: 1rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hrOneOptions {
    border: none;
    height: .1px;
    width: 100%;
    background-color: rgb(212, 212, 212);
}

.hrTwoOptions {
    height: .3rem;
    background-color: #ececec;
    box-sizing: border-box;
    border: none;
}


.profileAndSuggestions {
    width: 20.5%;
    box-sizing: border-box;
    height: max-content;
    padding-top: 1rem;
}

.profilePicInSwitchCon {
    width: 3.5rem;
    height: 3.5rem;
    background-size: cover;
    border-radius: 900rem;
}

.profilePicInSwitchCon.noPic {
    box-sizing: border-box;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: -1rem;
    margin-left: -1rem;
}

.switchProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.switchAccountButton {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: #0095f2;
    font-size: 13px;
}

.suggestionsHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}

.signInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fafafa;
    gap: 2rem;
}

.userInfoInSwitch {
    font-weight: 300;
    font-size: 14px;
    gap: .2rem;
    display: flex;
    flex-direction: column;
}

.usernameInSwitch {
    font-weight: 600;
    font-size: 14px;
}


.logoInForm {
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.logoInSignUp {
    padding: 2.5rem;
    padding-bottom: .5rem;
}

.signInContainer {
    width: 18%;
}

.signUpSec {
    margin-top: .5rem;
    background-color: white;
    border: .1rem solid rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
}

.signUpSec.loginSec {
    width: 18%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.signUpSec.loginSec>button {
    background-color: transparent;
    border: none;
    padding-left: .2rem;
    font-size: 15px;
    font-weight: 500;
    color: #0095f2;
}


.signUpSec>button {
    background-color: transparent;
    border: none;
    padding-left: .2rem;
    font-size: 15px;
    font-weight: 600;
    color: #0095f2;

}

.getTheAppCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 400;
}

.signInForm {
    padding: 2.5rem;
    box-sizing: border-box;
    background-color: white;
    border: .1rem solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.4rem;
}

.signInForm>input {
    width: 100%;
    height: 2.5rem;
    background-color: #fafafa;
    border: .1rem solid rgb(218, 218, 218);
    padding-left: .5rem;
    padding-right: .5rem;
    box-sizing: border-box;
    border-radius: 2.5px;
}

.signInForm>input:focus-visible {
    outline: none;
}

.signInForm>input::placeholder {
    color: rgb(161, 161, 161);
}

.signInWithFBContainer {
    display: flex;
    align-items: center;
    color: #345183;
    gap: .3rem;
    font-weight: 500;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.signUpWithFBContainer {
    display: flex;
    align-items: center;
    background-color: #0095f2;
    color: white;
    width: 100%;
    justify-content: center;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 4px;
    font-weight: 500;
    gap: .3rem
}

.loginText {
    font-size: 14px;
}

.signUpPage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fafafa;

}

.signUpContainer {
    border: .1rem solid rgb(218, 218, 218);
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
    width: 18%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.signUpForm>input {
    width: 100%;
    height: 2.5rem;
    background-color: #fafafa;
    border: .1rem solid rgb(218, 218, 218);
    padding-left: .5rem;
    padding-right: .5rem;
    box-sizing: border-box;
    border-radius: 2.5px;
}


.signUpMessage {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    text-align: center;
    color: rgb(139, 139, 139);
    padding-top: .5rem;
    padding-bottom: 1rem;
}


.signUpForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding-top: 1rem;
    gap: .4rem;
}

.infoDisclaimer {
    font-size: 13px;
    text-align: center;
    color: rgb(139, 139, 139);
}

.onSignUp {
    padding-top: .5rem;
}

.signUpButton {
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: #0095f2;
}

.or {
    padding: 1rem;
    padding-bottom: 0;
    color: rgb(132, 132, 132);
    font-weight: 500;
}

.loginButton {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: #0095f2;
    color: white;
    font-weight: 900;
    font-size: 14.5px;
    margin-top: 1rem;
    border-radius: 4px;

}

.fbLogo {
    color: #345183;
}

.fbLogo.inSignUp {
    color: white;
    font-size: 1.3rem;

}

.forgotPassword {
    font-size: 13px;
    font-weight: 400;
    color: #345183;
}


#newPostPopUp {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    left: 33%;
    top: 10%;
    min-width: 33%;
    height: 76vh;
    box-shadow: 50px 50px 2000px 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    z-index: 101;
}

.inputOne {
    margin-bottom: .2rem;
}

.newPostContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

}

.newPostHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.newPostAction {
    padding-left: 35%;
    padding-right: 35%;

    box-sizing: border-box;

}

.action{
    color: #0095f2;
    font-weight: bold;
}

.newPostPicContainer {
    box-sizing: border-box;
}

.newPostProfilePic {}

.newPostProfilePic,
.newPostNoProfilePic {
    width: 1.7rem;
    height: 1.7rem;
    background-size: cover;
    border-radius: 90px;
    background-color: transparent;
}


.selectFromComputerButton {
    appearance: none;
}

.closePopUpsButton {
    position: fixed;
    background-color: transparent;
    appearance: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    right: 1.8rem;
    top: 1.8rem;
    z-index: 105;
}

.imgToAdd {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 633.59px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;

}

.newPostBreak {
    width: 100%;
    border: none;
    background-color: rgb(220, 220, 220);
    height: .1rem;
}

.arrowBackIcon{
    font-size: 1.5rem;
    color: rgb(80, 80, 80);
}

.newPostDescription {
    width: 22rem;
    padding: 1rem;
    box-sizing: border-box;
}



.newPostUser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .7rem;
    font-weight: bold;
}

.postCaptionInput {
    resize: none;
    border: none;
    background-color: transparent;
    margin-top: 1.2rem;
    width: 100%;
    height: 10rem;
    font-size: 15px;
    color: rgb(103, 103, 103);
}


.postCaption {
    height: fit-content;
    margin-top: 0;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 14px;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
}


.allPostsInProfile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 62%;
    justify-items: center;
    height: 100%;
    row-gap: 2rem;
    column-gap: 2rem;
}

.postInProfile {
    width: 100%;
    height: 18.5rem;
    color: #c1c1c1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    gap: 1.3rem;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.containerInProfilePost{
    display: flex;
    visibility: hidden;
    gap: .3rem;
    align-items: center;
}


.postInProfile:hover {
    box-shadow: inset 2px 2px 900px 900px rgba(0, 0, 0, .3);
}

.postInProfile:hover >.containerInProfilePost {
   visibility: visible;
   color: white;
}

.profilePic {
    border-radius: 90rem;
    width: 14rem;
    box-sizing: border-box;
    background-color: transparent;
}


.profilePicInProfile {
    width: 9rem;
    height: 9rem;
    background-size: cover;
    padding-left: 3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.profilePicInMenu {
    width: 1.8rem;
    height: 1.8rem;
    background-size: cover;
    border-radius: 90rem;
    margin-left: .4rem;
}

.postOpProfilePic {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 900px;
    margin: .8rem;
}



#searchBox {
    right: -21vw;
    top: 0;
    width: 21vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    z-index: 500;
    background-color: white;
    border-left: .1rem solid rgb(235, 235, 235);
    box-shadow: 15px 0px 20px -6px rgb(225, 225, 225);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;


}

.searchOpen {
    width: 3.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


li {
    list-style: none;
}

.searchOpen>ul>li>.menuDiv>p {
    display: none;
}

.searchOpen>ul>li>.menuDiv {
    padding-left: 0;
}
.searchOpen >ul > li > .moreDiv{
    left: 1.3rem;
}

.searchOpen>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .searchOpen > ul > li > .createDiv{
    padding-left: .25rem;
}

.searchOpen > ul > li > .profileDiv{
    
} */


.searchDiv {
    padding-top: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.5rem;

}

.searchBoxTitle {
    padding-left: .7rem;
    font-size: 1.3rem;
}

.menuSearchInput {
    height: 2.2rem;
    padding-left: 1rem;
    border-radius: 7px;
    appearance: none;
    border: none;
    background-color: #efefef;
    font-size: 1rem;
}

.profilePicInSearch {
    background-color: gray;
    width: 3rem;
    height: 3rem;
    border-radius: 90rem;
    background-size: cover;
}

.aSearchReturn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: .2rem;
    gap: .5rem;
}

.searchValuesDiv {
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.profileInfo {
    width: 62%;
    min-height: 15rem;
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.profileInfo>hr {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.057);

}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.infoHeader {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.profileContentDetails {
    display: flex;
    gap: 2rem;
}

.profileUsername {
    font-weight: 400;
    font-size: 1.5rem;
}


.followButton {
    color: white;
    background-color: #0095f2;
    border: none;
    font-weight: bold;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-size: 14px;
    border-radius: 4px;
}

.mockBIO {
    width: 75ch;
    font-size: 15px;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

#mainFeed {
    width: 24.5vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 101;
}

.postHeader {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: .8rem;
    gap: .5rem;
}

.postHeader>img {
    width: 3.7rem;
}

.noPicInSearch {
    background-color: transparent;
    background-size: contain;
    width: 4.7rem;
    height: 4.7rem;
    margin: -.5rem;
    margin-left: -.8rem;
    margin-right: -.7rem;
}

.postInteractions {
    padding-left: .9rem;
    padding-right: .9rem;
    padding-top: .5rem;
    height: max-content;
}

.aPostOnFeed {
    width: 100%;
    min-height: 30rem;
    background-color: white;
    border: .1px solid rgb(212, 212, 212);
    border-radius: 8.5px;
    z-index: 101;

}

.commentAndLike {
    display: flex;
    gap: 1rem;
}

.commentAndLike.inOpenedPost {}

.openedPostProfilePic {
    width: 2.1rem;
    height: 2.1rem;
    background-size: cover;
    border-radius: 900rem;
    box-sizing: border-box;
    padding-right: 2.1rem;
}

.openedPostProfilePic.noPic {
    width: 3.1rem;
    height: 3.1rem;
    background-size: cover;
    border-radius: 900rem;
    box-sizing: border-box;
    margin-left: -.55rem;
    margin-right: -.55rem;
    margin-top:-.5rem
}   

b{
    font-size: 15px;
}

.newTest{
    font-size: 15px;
}


.openedPostUserAndComment {
    padding-left: 1rem;
    padding-right: 1rem;
}

.imgInPopUp{
   width: 6.9rem;
   height: 6rem;
   margin-top: -.8rem;
   margin-bottom: -.8rem;
}

.selectImageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.selectImageLabel{
    background-color: #0095f2;
    padding: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
}

.newPostAction{
    padding-top:.8rem;
    padding-bottom: .8rem;
    font-weight: 600;
    color: #131313;
}

.dragImageInstruction{
    font-weight: 400;
    font-size: 20px;
}

.openedPostUserAndComment > .usernameInPost{
}

.aCommentInOpenedPost {
    font-weight: 400;
    font-size: 15px;
}

.noProfilePic {
    width: 3rem;
}

.postImage>img {
    width: 100%;
    min-height: 25rem;
    max-height: 40rem;
    object-fit: cover;
}

.feedIcon {
    font-size: 1.8rem;

}



.captionSection {
    display: flex;
    align-items: center;
    gap: .4rem;
    width: 100%;
}

.postLikes {
    font-weight: 600;
    padding-top: .8rem;
    padding-bottom: .5rem;
    font-size: 14.5px;
}

.commentSectionInFeed {
    width: 100%;
}


.addComment>div {
    display: flex;
    width: 100%;
    padding-top: .65rem;
    padding-bottom: .65rem;
    align-items: center;
    height: fit-content;
}

.addComment>div>textarea {
    width: auto;
    appearance: none;
    border: none;
    padding-left: .5rem;
    overflow: auto;
    overflow-x: hidden;
    font-size: 15px;
    resize: none;
    box-sizing: border-box;
    max-height: 4rem;
}

.addComment>div>textarea::placeholder {
    font-size: 13.5px;
    color: rgb(166, 166, 166);
}




textarea:focus-visible {
    outline: none;
}

.postComment {
    font-weight: 600;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.postComment:disabled {
    color: rgba(0, 149, 246, .5);
}

.hrForComment {
    margin-left: -.9rem;
    margin-right: -.9rem;
    border: none;
    height: .1px;
    background-color: rgba(0, 0, 0, 0.057);
}

.howLongAgoWasPostedDisplay {
    font-weight: 300;
    font-size: 13px;
    color: #7a7a7a;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.menuDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

.picInMenu {
    width: 2.5rem;
}

.profileDiv {
    padding-left: 1.1rem;
}

.menuIcon {
    font-size: 1.8rem;
}

.fbMessangerIcon {
    font-size: 1.4rem;
    padding-left: .2rem;

}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
}

.logo {
    padding-left: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.7rem;
    width: 6.5rem;
}

.iconLogo {
    padding-bottom: 2.7rem;
    padding-top: 2.5rem;
    font-size: 1.7rem;

}

.moreDiv {
    position: absolute;
    top: 93vh;
    width: 100%;
}

.createIcon {
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.createDiv {
    padding-left: 1.65rem;
    display: flex;
    gap: 1.3rem
}

.postLikedIcon {
    color: #f64959;
}

.postInFeedHasComments {
    padding-top: .5rem;
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

#openedPost {
    position: fixed;
    width: 70%;
    height: 94%;
    z-index: 101;
    left: 15vw;
    box-sizing: border-box;
    top: 3%;
    box-shadow: 3rem 3rem 900rem 900rem rgba(0, 0, 0, .5);
    background-color: white;
    display: flex;
    border-radius: 4px;
}

#openedPostInteractions {
    width: 60%;
    height: 100%;

}

#imageContainer {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

#openedPostHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;


}

#imageContainer>img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.mockPic {
    width: 2rem;
    height: 2rem;
    border-radius: 90px;
    background-color: gray;
}




.usernameInPost {
    font-size: 15px;
    font-weight: 600;
}



#opPostInfo {
    display: flex;
}

#captionInOpenedPost {
    padding: 1rem;
    padding-left: 0;

}

.profilePicInOpenedPost {
    padding: 1rem;

}

#theCaption {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
}

.timePostedAgoInOpenedPost {
    padding: .5rem;
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    color: rgb(124, 124, 124);

}

.commentsContainerInOpenedPost {
    height: 62%;
    display: block;
    position: relative;
    padding-left: 1rem;
    overflow-y: scroll;
}

.commentContent {
    display: flex;
}

.usernameInOpenedPost {
    padding-left: 1rem;
    padding-right: .5rem;

}



.interactWithOpenedPost>.timePostedAgoInOpenedPost {
    padding-bottom: .9rem;
}

.timePostedAgoInOpenedPost.inComment {
    padding-left: 3rem;
    padding-top: 0;
    padding-bottom: 1rem;
    margin-top: -.3rem;
}

.interactWithOpenedPost {
    width: 35%;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;


}

.hrForInteractContainer {
    margin-left: -.9rem;
    margin-right: -.9rem;
    border: none;
    height: .1rem;
    background-color: rgba(0, 0, 0, 0.057);
    margin-bottom: .8rem;
}

.openedPostLikes {
    font-size: 14px;
    font-weight: 600;
    padding-top: .8rem;
}

.postHeaderHR {
    border: none;
    height: .1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.057);
}

#updatePicContainer {
    position: fixed;
    z-index: 101;
    top: 35%;
    left: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    border-radius: 15px;
    box-shadow: 0px 0px 900rem 900rem rgba(0, 0, 0, .5);
}

.boxTitle {
    padding-top: 1.5rem;
    /* padding-left: 6rem;
    padding-right: 6rem; */
    padding-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 600;
}

.updateProfilePicAction {
    padding: .9rem;
    font-size: 14.5px;
    width: 100%;
    text-align: center;

}

.updatePicHR {
    width: 100%;
    border: none;
    height: .1px;
    background-color: rgb(226, 226, 226);
}

.updateProfileUpload,
.updateProfileRemove {
    font-weight: 600;
}

.updateProfileUpload {
    color: #0095f2;
    display: none;
}

.labelForProfilePicUpload {
    padding-top: .9rem;
    padding-bottom: .9rem;
    width: 100%;
    text-align: center;
    color: #0095f2;
    font-weight: 600;
    font-size: 14.5px;

}

.editProfileButton{
    color: rgb(22, 22, 22);
    font-weight: 600;
    padding-left: .5rem;
    padding-top: .35rem;
    padding-right: .5rem;
    padding-bottom: .35rem;
    font-size: 14px;
    background-color: transparent;
    border: .1px solid rgb(203, 203, 203);
    border-radius: 4px;
}


.updateProfileRemove {
    color: #ed4a57;
}